---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tile from "../layouts/Tile.astro";
import MoreTile from "../layouts/MoreTile.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
// 源代码 allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
// 优化后 使用 async/await 和 try/catch 处理可能的异常，并统一日期格式
try {
  const allPosts = await Astro.glob("../pages/posts/*.md");
  allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
} catch (error) {
  console.error("Error loading posts:", error);
  // 处理异常情况，例如显示一个错误信息或加载备份数据
}
---

<BaseLayout>
  <section class="everydayfeed">
    <div class="section-content">
      <h2 class="section-head">最新文章</h2>
      <ul role="list" class="section-tiles">
        {
          // tile-hero
          allPosts.slice(0, 1).map((post) => {
            return (
              <Tile title={post.frontmatter.title} href={post.url} date={post.frontmatter.pubDate} tags={post.frontmatter.tags} cover={post.frontmatter.cover.url} level="1" />
            );
          })
        }

        {
          // tile-2up
          allPosts.slice(1, 5).map((post) => {
            return (
              <Tile title={post.frontmatter.title} href={post.url} date={post.frontmatter.pubDate} tags={post.frontmatter.tags} cover={post.frontmatter.cover.url} level="2" />
            );
          })
        }
        <style>
          .view-archive-wrapper {
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            height: 1vh; /* 设置高度为视窗高度，使整个屏幕可见 */
            width: 100%; /* 确保占据整个父容器宽度 */
          }
        </style>
        <div class="view-archive-wrapper">
         <a href="/archive" class="cta-primary-light" data-analytics-region="router" data-analytics-title="view archive">阅读历史文章</a>
        </div>
      </ul>
    </div>
  </section>

  <script is:inline>
    document.addEventListener("DOMContentLoaded", function () {
      var script = document.createElement("script");
      script.src = "/static/js/animation.js";
      document.head.appendChild(script);

      script.onload = function () {
        console.log("lazyload.js loaded");
        // when layout is loaded, load the images
        initImage();
      };
    });
  </script>
</BaseLayout>
